<div class="card">
  <h3>Add New Company</h3>

  <form (ngSubmit)="onSave()">
    <label>
      Company Name:
      <input
        [(ngModel)]="companyResponse.companyName"
        name="companyName"
        class="form-control p-2"
        required
      />
    </label>

    <label>
      KRA Pin:
      <input [(ngModel)]="companyResponse.kraPin" class="form-control p-2" name="kraPin" required />
    </label>

    <label>
      City:
      <input [(ngModel)]="companyResponse.city" class="form-control p-2" name="city" required />
    </label>

    <label>
      Constituency:
      <input
        [(ngModel)]="companyResponse.constituency"
        class="form-control"
        name="constituency"
        required
      />
    </label>

    <label>
      Street:
      <input [(ngModel)]="companyResponse.street" class="form-control" name="street" required />
    </label>

    <label>
      County:
      <input [(ngModel)]="companyResponse.county" class="form-control" name="county" required />
    </label>

    <label>
      Contact Person No:
      <input
        [(ngModel)]="companyResponse.contactPersonNo"
        class="form-control"
        name="contactPersonNo"
        required
      />
    </label>

    <label>
      Max Orders:
      <input
        type="number"
        [(ngModel)]="companyResponse.maxOrders"
        class="form-control"
        name="maxOrders"
        required
      />
    </label>

    <label>
      Min Orders:
      <input
        type="number"
        [(ngModel)]="companyResponse.minOrders"
        class="form-control"
        name="minOrders"
        required
      />
    </label>
    <a href="/companies" (click)="onClose()">close</a>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
