<div class="card">
  <h3>Add New Company</h3>

  <form (ngSubmit)="onSave()">
    <label>
      Company Name:
      <input
        [(ngModel)]="companyResponse.companyName"
        name="companyName"
        class="form-control p-2"
        required
      />
    </label>

    <label>
      KRA Pin:
      <input [(ngModel)]="companyResponse.kraPin" class="form-control p-2" name="kraPin" required />
    </label>

    <label>
      City:
      <input [(ngModel)]="companyResponse.address.city" class="form-control p-2" name="city" required />
    </label>
    <label>
      Street:
      <input [(ngModel)]="companyResponse.address.street" class="form-control" name="street" required />
    </label>

    <label>
      Building:
      <input [(ngModel)]="companyResponse.address.building" class="form-control" name="building" required />
    </label>

    <label>
      Contact Person:
      <input
        [(ngModel)]="companyResponse.contactPerson"
        class="form-control"
        name="contactPerson"
        required
      />
    </label>

    <label>
      Count:
      <input
        type="number"
        [(ngModel)]="companyResponse.count"
        class="form-control"
        name="count"
        required
      />
    </label>

    <a href="/companies" (click)="onClose()">close</a>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
