<h2>Edit Company</h2>
<form [formGroup]="form">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Company Name</mat-label>
    <input matInput formControlName="companyName">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>KRA Pin</mat-label>
    <input matInput formControlName="kraPin">
  </mat-form-field>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Contact Person </mat-label>
    <input matInput formControlName="contactPerson">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Count</mat-label>
    <input matInput type="number" formControlName="count">
  </mat-form-field>


  <mat-form-field appearance="fill" class="full-width">
    <mat-label>City</mat-label>
    <input matInput type="text" formControlName="city">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Street</mat-label>
    <input matInput type="text" formControlName="street">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Building</mat-label>
    <input matInput type="text" formControlName="building">
  </mat-form-field>

  <div style="margin-top: 1rem; text-align: right;">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSave()">Update</button>
  </div>
</form>


