<footer class="site-footer mt-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          At Oscaris caterers we pride ourselves on fresh foods everytime.
          We are at the centre-piece of inter-continental cuisines. Our deliveries are convinient and
          we are happy to serve co-operate clients and our co-operate fellows. Our style of catering is
          convinient to many folks around Nairobi. Happy to be team Oscaris!
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a [routerLink]="'/dashboard'">Dashboard</a></li>
          <li><a [routerLink]="'/invoices'">Invoices</a></li>
          <li><a [routerLink]="'/stock'">Stock</a></li>
          <li><a [routerLink]="'/orders'">Order</a></li>
          <li><a [routerLink]="'/suppliers'">Suppliers</a></li>
          <li><a [routerLink]="'/debts'">Debts</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a [routerLink]="'/dashboard'">dashboard</a></li>
          <li><a [routerLink]="'/companies'">companies</a></li>
          <li><a [routerLink]="'/employees'">employees</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2025 All Rights Reserved by <a href="#">Ameda</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
          </li>
          <li>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
